.gallery {
  margin-top: 0;
  padding-top: 120px;
  padding-bottom: 1px;
  background-color: $green;

  &__title {
    color: white;
    text-shadow: 3px 1px $dark-green;
    text-align: center;
  }
}
