// Esquema de colores

$dark-orange: #D35400;
$light-orange: #E67E22;

$dark-green: #1B2508;
$middle-green: #2C4007;
$green: #699713;
$palid-green: #D3FA97;

$papyrus: 'Papyrus Condensed';
$ubuntu: 'Ubuntu', sans-serif;
